body, html {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  z-index: 1000;
  background-color: lightgray;
}

.menu-panel,
.menu-panel form {
  display: flex;
  flex-direction: column;
}

.menu-panel button,
.menu-panel input[type=submit] {
  font-weight: bold;
}

.menu-header {
  padding: 0.25rem;
  background-color: black;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.menu textarea {
  box-sizing: border-box;
  width: inherit;
  resize: none;
}

.menu-button-row {
  display: flex;
  flex-direction: row;
}
  
.zoom-buttons {
  display: grid;
  position: fixed;
  top: 2.5%;
  right: 2.5%;
  z-index: 1000;
}

.artboard {
  position: absolute;
  top: 0;
  left: 0;
}

.artboard-panel {
  position: fixed;
  vertical-align: center;
  bottom: 2.5%;
  right: 2.5%;
  z-index: 1000;
}

.artboard-panel input::-webkit-outer-spin-button,
.artboard-panel input::-webkit-inner-spin-button,
.artboard-panel input[type=number] {
  border: none;
  background-color: transparent;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}
